app='iahsdhadj;ad'
remote_url='http://aushduahldsh.ru'
browserstack.userName='ashduasdj;'
browserstack.accessKey='hda;sdjo'
projectName='ahsdoalsd'
buildName='y12yuhdasd'
sessionName='asdnuhalsday9d'


